# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
venv/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
ez_setup.py

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

.DS_Store
*.sqlite3
media/

.env

venv/
staticfiles
